# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*
# But descend into directories
!*/

# Allow these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!*.md
!LICENSE
!NOTICE
!.gitattributes

# Allow also these directories...
!.github/**
!build/**
!docs/**
!licenses/**
!test/**


# !Makefile
